<div class="row-fluid">
  <%= link_to "Profile", current_user %> |

  <%= link_to "Perspectives", giver_perspectives_path(current_user) %> |

  <%= link_to "Rewards", 'javascript:void(0)' %> |

  <% if current_user.level == 2 %>
    <%= link_to "Sessions", giver_sessions_path(current_user) %> |
  <% else %>
    <%= link_to "Sessions", 'javascript:void(0)' %> |
  <% end %>

  <%= link_to "Boosters", 'javascript:void(0)' %>
</div>