<div class="alert fade in alert-success" style="display:none">
  <button class="close" data-dismiss="alert">×</button>
  Your session request has been submitted.
</div>
<div class="row-fluid">
  <legend>
    <h3>
      <%= @giver.name %>'s Public Profile
    </h3>
  </legend>
  <div class="public_profile">
  	<p>Name : <%= @giver.name %></p>
  </div>

<%= link_to "Request Session", "javascript:void(0)", :id => "weekly_link" %>
  <table border=1 class="table table-bordered availability_table" style="display:none">
  <tr>
  <th>Time</th>
  <% %w( mon tue wed thu fri sat sun ).each do |day| %>
    <th><%= day %></th>
  <% end %></tr>
  
  <% [6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9].each_with_index do |row, index| %>
    
    <tr>
      <th>
        <%= row %> 
        <% time_format = (index > 5)? "pm" : "am"   %>
        <%= time_format %>
      </th>
      <% %w(mon tue wed thu fri sat sun ).each do |day| %>
        <td style="padding:5px 25px" id = '<%="#{day}_#{row}_#{time_format}" %>' class = '<%= detect_class(@giver.id, "#{day}_#{row.to_s}_#{time_format}") %>'>&nbsp;</td>
        <% end %>
    </tr>
    <% end %>
</table>
</div>
<%= link_to "Send a message", messages_new_seeker_sessions_path(current_user,:giver => @giver.id) %> 


<div>
  <%= form_tag nil, :class => "schedule_form"  do %>
    <%= label_tag "Want to talk specifics?  Schedule a live to discuss your personal interests, pursuits and questions." %>
    <%= label_tag "Tell us more, what do you seek perspective on?" %>
    <br/>
    <%= text_area_tag :schedule,nil, :style => "width:400px" %>
    <br/>
    <%= submit_tag "Submit", :class => "btn btn-warning",:id => "schedule_form_submit" %>
  <% end %>
</div>

<% if !current_user.billing_setting.present? %>

  <script type="text/javascript">
  	$(function(){

      var multiple_cell = [];

  		$("#weekly_link").on('click',function(){
  			$(".availability_table").toggle();
  		});


      $(".availability_table tr td").on("click", function(){
          var cell_id = this.id;
          var self = $(this);

          if (self.hasClass("selected")){
            multiple_cell.push(cell_id);
            self.removeClass("selected");
            self.addClass("tmp_selected_cell");
            $(".schedule_form").show();
            console.log(multiple_cell);
            } 
          else if (self.hasClass("tmp_selected_cell")){
            self.removeClass("tmp_selected_cell");
            self.addClass("selected");
            multiple_cell = _.without(multiple_cell,cell_id);
            console.log(multiple_cell);
            }
      });

      $("#schedule_form_submit").on('click', function(e){
        e.preventDefault();
        $.post("create_schedule",{time_slots: multiple_cell, description: $("#schedule").val()}
          ).done(function(data){
            $.each(multiple_cell, function(index, value){
              $("#"+ value).removeClass("tmp_selected_cell");
              $("#"+value).addClass("schedule_pending");
            });
            multiple_cell = [];
            $("#schedule").val("");
            $(".schedule_form").hide();
            $(".alert-success").show();
            $('html,body').animate({scrollTop:0},'fast');
            console.log(data);

          });
      });


  	});
  </script>

<% else %>

  <script type="text/javascript">

    $("#weekly_link").on('click',function(){
      $(".availability_table").toggle();
    });

    $(".availability_table tr td").on('click', function(){
      window.location.replace("<%= new_seeker_billing_setting_path(current_user) %>");
    })
  </script>

  <% end %>