<div class="row-fluid">
  <legend>
    <h3>
      <%= @giver.name %>'s Public Profile
    </h3>
  </legend>
  <div class="row-fluid">
    <div class="span1"></div> 
      <div class ="span10" style= 'background-image: url(<%= @giver.cover_photo.public_profile_header.url %>);background-repeat:no-repeat'>
        <%= image_tag @giver.profile_photo.public_profile.url,:style => "border:solid" %>
        <%= link_to("Schedule a Session", "display_calendar", :class => "btn btn-primary btn-large", :style => "margin-left:900px") unless @giver.time_slots.blank? %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <strong>Lived in:</strong><br/>
      <p><%= @giver.city if @giver.city.present? %></p>
      <p><%= @giver_game.locations unless @giver_game.nil?  %>
      </p>
      <hr/>
      <% unless @giver_studies.nil? %>
        <strong>Studied at: </strong><br/>
        <% @giver_studies.each do |study| %>
          <%= study.school_name  %>
          <br/>
          <%= study.fields_of_study %>
          <br/>
        <% end %>
      <% end %>

      <% unless @giver_phone_number.nil? %>
        <strong>Phone no:</strong><br/>
        <p><%= @giver_phone_number.number %></p>
      <% end %>

      <% unless @giver_connections.blank? %>
        <% @giver_connections.each do |connection| %>
          <strong><%= connection.provider %></strong>
          <br/>
          <p>status: connected</p>
          <hr/>
        <% end %>
      <% end %>
    </div>
    <div class="span9">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#experiences" data-toggle="tab">Experience</a></li>

        <li><a href="#perspectives" data-toggle="tab">Perspectives</a></li>

        <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
      </ul>

    <div id="experiences" class ="tab-pane fade in active">
      <%= render :partial => "experiences", :locals => {:giver_experiences => @giver_experiences } %>
    </div>
    <div id="perspectives" class ="tab-pane fade">
      <%= render :partial => "perspectives", :locals => {:game => @giver_game } %>
    </div>
    <div id="reviews" class ="tab-pane fade">
      <%= render :partial => "reviews", :locals => {:giver => @giver } %>
    </div> 
    </div>
  </div>
</div>


  