<div class="row-fluid">
  <legend>
    <h3>
      <%= @giver.name %>'s Public Profile
    </h3>
  </legend>
  <div class="public_profile">
  	<p>Name : <%= @giver.name %></p>
  </div>

<%= link_to "weekly Availability", "javascript:void(0)", :id => "weekly_link" %>
  <table border=1 class="availability_table", style="display:none">
  <tr>
  <th>Time</th>
  <% %w( mon tue wed thu fri sat sun ).each do |day| %>
    <th><%= day %></th>
  <% end %></tr>
  
  <% [6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9].each_with_index do |row, index| %>
    
    <tr>
      <th>
        <%= row %> 
        <% time_format = (index > 5)? "pm" : "am"   %>
        <%= time_format %>
      </th>
      
      <% %w(mon tue wed thu fri sat sun ).each do |day| %>
        <td style="padding:5px 25px" id = '<%="#{day}_#{row}_#{time_format}" %>' class = '<%= "selected" if @giver_time_slots.include?([day, row.to_s, time_format]) %>'>&nbsp;</td>
        <% end %>
    </tr>
    <% end %>
</table>
</div>
<%= link_to "Send a message", messages_new_seeker_sessions_path(current_user,:giver => @giver.id) %> 


<div class="schedule_form" style="display:none">
  <%= form_tag nil do %>
    <%= label_tag "Want to talk specifics?  Schedule a live to discuss your personal interests, pursuits and questions." %>
    <%= label_tag "Tell us more, what do you seek perspective on?" %>
    <br/>
    <%= text_area_tag :schedule,nil, :style => "width:400px" %>
    <br/>
    <%= submit_tag "Submit", :class => "btn btn-warning" %>
  <% end %>
</div>


<script type="text/javascript">
	$(function(){
		$("#weekly_link").on('click',function(){
			$(".availability_table").toggle();
		});


    $(".availability_table tr td").on("click", function(){
        var cell_id = this.id;
        if ($(this).hasClass("selected")){
          $(".schedule_form").show();
          } 
          else{
            $(".schedule_form").hide();
          }
    });
	});
</script>