<% unless giver_schedules.blank? %>
	<table class="table">
		<tr>
		<th>Requested Session</th>
		<th>Message</th>
		<th>Seeker Name</th>
		<th>status</th>
		</tr>
	<% giver_schedules.each do |schedule| %>
		<tr class="<%= schedule.status.eql?("pending") ? "warning" : "success" %>">
			<td><%= schedule.schedule_time %></td>
			<td><%= schedule.description %></td>
			<td><%= schedule.seeker_name %></td>

			<% if schedule.status.eql?("accepted") %>
				<td>
				<%= link_to schedule.status, session_request_accept_giver_sessions_path(current_user,:id => schedule.id), :remote => true, :class => "btn btn-success accepted disabled" %> |
				<%= link_to "Reject",session_request_reject_giver_sessions_path(current_user,:id => schedule.id),:remote => true, :class => "btn btn-danger" %>
				</td>
			
			<% else %>
			
			<td>
			<%= link_to schedule.status, "javascript:void(0)",:remote => true, :class => "btn btn-danger pending disabled" %>|
			<%= link_to "Accect",session_request_accept_giver_sessions_path(current_user,:id => schedule.id),:remote => true, :class => "btn btn-success" %> |
			<%= link_to "Reject",session_request_reject_giver_sessions_path(current_user,:id => schedule.id),:remote => true, :class => "btn btn-danger" %>
			</td>
			
			<% end %>	
		</tr>

	<% end %>
	</table>
	
<% else %>
	<p class="info">You dont have any schedule request</p>
<% end %>