<%= render "header" %>
<p class="text-center"><strong>Manage your session requests here</strong></p>

<!-- Previous View. Keep this for future use -->

<!-- <p class="text-left">
  <%= link_to "prev", manage_requests_giver_sessions_path(current_user,:week => @prev_week) %>
</p>

<% if @interval.present? %>
  <p class="text-center">
    <b>
      <%= @interval.days.ago.beginning_of_week.strftime("%B %d") + " - " + @interval.days.ago.end_of_week.strftime("%B %d") %>
    </b>
  </p>
<% else %>
  <p class="text-center">
    <b>
      <%= Date.today.beginning_of_week.strftime("%B %d") + " - " + Date.today.end_of_week.strftime("%B %d") %>
    </b>
  </p>
<% end %>

<p class="text-right">
  <%= link_to "next", manage_requests_giver_sessions_path(current_user,:week => @next_week) %>
</p>
<br/>

<%= render :partial => "giver_requests", :locals => {:giver_schedules => @giver_schedules} %>
 -->

 <!-- NEW Implementation -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#pending" data-toggle="tab">Pending</a></li>
  <li><a href="#accepted" data-toggle="tab">Accepted</a></li>
  <li><a href="#completed" data-toggle="tab">Completed</a></li>
  <li><a href="#rejected" data-toggle="tab">Rejected</a></li>
</ul>

<div class="tab-content">
<div id="pending" class ="tab-pane fade in active">
  <%= render :partial => "pending_schedules", :locals=> {:schedules => @pending_schedules} %>
</div>

<div id="accepted" class ="tab-pane fade">
  <%= render :partial => "pending_schedules", :locals=> {:schedules => @accepted_schedules} %>
</div>

<div id="completed" class ="tab-pane fade">
  <%= render :partial => "pending_schedules", :locals=> {:schedules => @completed_schedules} %>
</div>

<div id="rejected" class ="tab-pane fade">
  <%= render :partial => "pending_schedules", :locals=> {:schedules => @rejected_schedules} %>
</div>

</div>