<div class="span6">
  <%= form_tag messages_new_giver_sessions_path(current_user) do %>
    <%= label_tag "From" %>
    <%= text_field_tag :from, current_user.name, :readonly=> true %>
    <br/>
    <%= label_tag "To" %>
    <%= text_field_tag :to, @to.name, :readonly => true %>
    <br/>
    <%= label_tag "Subject" %>
    <%= text_field_tag :subject %>
    <br/>
    <%= text_area_tag :content,nil,:size => "25x10", :style => "width: 500px" %>
    <br/>
    <%= submit_tag "Send", :class => 'btn btn-success' %>
  <% end %>
</div>