<%= render "header" %>
<%= render :partial => "shared/personal_details", :locals => {:user => @giver, :url => personal_details_giver_sessions_path(current_user)} %>


<% if current_user.time_slots.blank? %>
  <table border=1 class="table table-bordered availability_table">
    <tr>
    <th>Time</th>
    <% %w( mon tue wed thu fri sat sun ).each do |day| %>
      <th><%= day %></th>
    <% end %></tr>
    
    <% [6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9].each_with_index do |row, index| %>
      
      <tr>
        <th>
          <%= row %> 
          <% time_format = (index > 5)? "pm" : "am"   %>
          <%= time_format %>
        </th>
        
        <% %w(mon tue wed thu fri sat sun ).each do |day| %>
          <td style="padding:5px 25px" id = '<%="#{day}_#{row}_#{time_format}" %>'>&nbsp;</td>
          <% end %>
      </tr>
      <% end %>
  </table>
  <br/>

  <%= link_to "select all","javascript:void(0)", :class => 'btn btn-primary', :id => "select_all" %>
  <%= link_to "unselect all", "javascript:void(0)", :class => 'btn btn-primary', :id => "unselect_all" %>
  <br/>
  <br/>
  <%= submit_tag "Submit", :class=> 'btn btn-info', :id => "availability_submit"  %>


<% else %>

  <table border=1 class="table table-bordered schedule_table">
    <tr>
    <th>Time</th>
    <% %w( mon tue wed thu fri sat sun ).each do |day| %>
      <th><%= day %></th>
    <% end %></tr>
    
    <% [6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9].each_with_index do |row, index| %>
      
      <tr>
        <th>
          <%= row %> 
          <% time_format = (index > 5)? "pm" : "am"   %>
          <%= time_format %>
        </th>
        <% %w(mon tue wed thu fri sat sun ).each do |day| %>
          <td style="padding:5px 25px" id = '<%="#{day}_#{row}_#{time_format}" %>' class = '<%= detect_class(@giver.id, "#{day}_#{row.to_s}_#{time_format}") %>'>&nbsp;</td>
          <% end %>
      </tr>
      <% end %>
  </table>
<% end %>




<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Please confirm this schedule status</h3>
    <em><p id="seeker_name" class="text-info"></p></em>
    <%= hidden_field_tag "schedule_id" %>
  </div>
  <div class="modal-body">
    <strong><p id ="schedule_description" class="text-success"></p></strong>
  </div>
  <div class="modal-footer">
    <p class="text-left text-warning">You can accept or reject this session request </p><br/>
    <a href="javascript:void(0)" class="btn btn-success" id="schedule_accept" >Accept</a>
    <a href="javascript:void(0)" class="btn btn-danger" id="schedule_reject" >Reject</a>
  </div>
</div>


<script type="text/javascript">
  $(function(){
    var availability = [];
    $('.availability_table tr td').on('click', function(){
      var cell_id = this.id;
      if ($("#"+cell_id).hasClass("selected")){
        $("#"+cell_id).removeClass("selected");
        availability =_.without(availability,cell_id);
        console.log(availability);
    }
    else{
      $("#"+cell_id).addClass("selected");
      availability.push(cell_id);
      console.log(availability);
  
    }

  });


  var availability_table_class = $(".availability_table tr td");
    $("#select_all").on('click',function(){
      availability =[];

      $(availability_table_class).addClass("selected");
      $.each($(availability_table_class),function(){
        availability.push(this.id);
      });
    }); 

    $("#unselect_all").on('click', function(){
      $.each($(availability_table_class),function(){
        $("#"+this.id).removeClass("selected");
      });
      availability =[];
    });

    $("#availability_submit").on('click',function(){
      $.post('time_slot_save', {time_slots: availability},function(data){console.log(data);});
    });

    var $modal = $('.modal').modal({
      show: false
    });
    var modal_id = [];
    $(document).on("click",".schedule_pending", function(){
      
      var schedule_id = this.id;
      modal_id.push(schedule_id);
      $.ajax({
          url     : "get_schedule_data?q="+schedule_id,
          type    : 'GET',
          success : function(data){
            $("#seeker_name").text("Session requested by : "+ data.seeker_name);
            $("#schedule_description").text("Message: "+data.description);
          },
          error   : function(xhr,status){
            cosole.log(status);
          },
          complete :function(){

          } 
      });

      $("#schedule_id").val(this.id);
      $modal.modal('show');
      
      
    });

      $("#schedule_reject").on("click", function(){
        var schedule_id = $("#schedule_id").val();
        $.ajax({
          url :"reject_schedule", 
          type:"POST",
          data:{schedule: schedule_id},

          success:function(){
            $("#"+ schedule_id).removeClass("schedule_pending");
            $("#"+schedule_id).addClass("selected");
          },

          error: function(status,xhr){
              console.log(status);
          },

          complete: function(){
            $modal.modal('hide');
          }
        });
    });

      $("#schedule_accept").on('click',function(){
        var schedule_id = $("#schedule_id").val();
        $.ajax({
            url    : "accept_schedule",
            type   : "POST",
            data   :{schedule: schedule_id},

            success: function(){
              $("#"+schedule_id).removeClass("schedule_pending");
              $("#"+schedule_id).addClass("schedule_reserved");
            },

            error: function(status){
              console.log(status);
            },
            
            complete : function(){
              $modal.modal("hide");
            } 
        });
      });
  });
</script>