<%= render "header" %>
<h4>
  Personal Details:
</h4>
<div class="row-fluid">
  <%= form_tag personal_details_giver_sessions_path(current_user) do %>
  <div>
    Sessions are generally conducted via Skype. If you prefer another method, please select from below
  </div>
  <%= select_tag(:session_method, options_for_select([['Skype', 1], ['Phone', 2], ['Other', 3]], @giver.session_method), {:class => 'session-method'}) %>
  <ul class="session-methods">
    <li class="session-method-1"><%= text_field_tag :skype_id, @giver.skype_id%></li>
    <li class="session-method-2"><%= text_field_tag :contact_number, @giver.contact_number %></li>
    <li class="session-method-3"><%= text_field_tag :other_contact_details, @giver.other_contact_details %></li>
  </ul>
  <div>
    <%= label_tag "Select your time zone" %>
  </div>
  <%= time_zone_select(:user_time_zone, :time_zone,nil, :default => (@giver.user_time_zone if @giver.user_time_zone.present?) ) %>


  <br/>
  <%= submit_tag 'Update', :class => "btn btn-primary"  %>
  <% end %>
</div>


<% if current_user.time_slots.blank? %>
  <table border=1 class="table table-bordered availability_table">
    <tr>
    <th>Time</th>
    <% %w( mon tue wed thu fri sat sun ).each do |day| %>
      <th><%= day %></th>
    <% end %></tr>
    
    <% [6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9].each_with_index do |row, index| %>
      
      <tr>
        <th>
          <%= row %> 
          <% time_format = (index > 5)? "pm" : "am"   %>
          <%= time_format %>
        </th>
        
        <% %w(mon tue wed thu fri sat sun ).each do |day| %>
          <td style="padding:5px 25px" id = '<%="#{day}_#{row}_#{time_format}" %>'>&nbsp;</td>
          <% end %>
      </tr>
      <% end %>
  </table>
  <br/>

  <%= link_to "select all","javascript:void(0)", :class => 'btn btn-primary', :id => "select_all" %>
  <%= link_to "unselect all", "javascript:void(0)", :class => 'btn btn-primary', :id => "unselect_all" %>
  <br/>
  <br/>
  <%= submit_tag "Submit", :class=> 'btn btn-info', :id => "availability_submit"  %>


<% else %>

  <table border=1 class="table table-bordered schedule_table">
    <tr>
    <th>Time</th>
    <% %w( mon tue wed thu fri sat sun ).each do |day| %>
      <th><%= day %></th>
    <% end %></tr>
    
    <% [6,7,8,9,10,11,12,1,2,3,4,5,6,7,8,9].each_with_index do |row, index| %>
      
      <tr>
        <th>
          <%= row %> 
          <% time_format = (index > 5)? "pm" : "am"   %>
          <%= time_format %>
        </th>
        <% %w(mon tue wed thu fri sat sun ).each do |day| %>
          <td style="padding:5px 25px" id = '<%="#{day}_#{row}_#{time_format}" %>' class = '<%= detect_class(@giver.id, "#{day}_#{row.to_s}_#{time_format}") %>'>&nbsp;</td>
          <% end %>
      </tr>
      <% end %>
  </table>
<% end %>




<div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Please confirm this schedule status</h3>
    <%= hidden_field_tag "schedule_id" %>
  </div>
  <div class="modal-body">
    <p>You can accept or reject this session request </p>
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0)" class="btn btn-success" id="schedule_accept" >Accept</a>
    <a href="javascript:void(0)" class="btn btn-danger" id="schedule_reject" >Reject</a>
  </div>
</div>


<script type="text/javascript">
  $(function(){
    var availability = [];
    $('.availability_table tr td').on('click', function(){
      var cell_id = this.id;
      if ($("#"+cell_id).hasClass("selected")){
        $("#"+cell_id).removeClass("selected");
        availability =_.without(availability,cell_id);
        console.log(availability);
    }
    else{
      $("#"+cell_id).addClass("selected");
      availability.push(cell_id);
      console.log(availability);
  
    }

  });


  var availability_table_class = $(".availability_table tr td");
  $("#select_all").on('click',function(){
    availability =[];

    $(availability_table_class).addClass("selected");
    $.each($(availability_table_class),function(){
      availability.push(this.id);
    });
  }); 

  $("#unselect_all").on('click', function(){
    $.each($(availability_table_class),function(){
      $("#"+this.id).removeClass("selected");
    });
    availability =[];
  });

  $("#availability_submit").on('click',function(){
    $.post('time_slot_save', {time_slots: availability},function(data){console.log(data);});
  });

  var $modal = $('.modal').modal({
    show: false
  });
  var modal_id = [];
  $(document).on("click",".selected_already", function(){
    $modal.modal('show');
    $("#schedule_id").val(this.id);
    
    // var isFetching = false;
    var schedule_id = this.id;
    modal_id.push(schedule_id);
  });

      $("#schedule_reject").on("click", function(event){
      // if(isFetching == false){
        // isFetching = true;
        $.ajax({
          url :"reject_schedule", 
          data:{schedule: $("#schedule_id").val()},
          type:"POST",
          success:function(){
            console.log($("#schedule_id").val());
            $modal.modal('hide');
            $("#"+$("#schedule_id").val()).removeClass("selected_already");
            $("#"+$("#schedule_id").val()).addClass("selected");
            // isFetching = false;
          }
        });
        event.stopPropagation();
      // }
    });



  });

</script>



<script>
    function hide_all_session_methods(){
        $('ul.session-methods li').hide();
    }

    function reset_all_session_methods(){
        $('.session-methods').find('input').val('');
    }

    function show_session_method(val){
        $('.session-method-'+val).show();
    }

    var default_session_method = $('.session-method').val();
    //alert(default_session_method);
    hide_all_session_methods();
    show_session_method(default_session_method);


    $('select.session-method').change(function() {
        var val = $(this).val();
        hide_all_session_methods();
        reset_all_session_methods();
        show_session_method(val)
        //$('div[id=^sub]:visible').hide();
        //$('div#sub' + this.value).show();
    });
</script>