<div class="row-fluid">
  <%= link_to "Profile", current_user %> |

  <%= link_to "Perspectives", seeker_perspectives_path(current_user) %> |

  <%= link_to "Rewards", 'javascript:void(0)' %> |

  <%= link_to "Sessions", seeker_sessions_path(current_user) %> |

  <%= link_to "Boosters", 'javascript:void(0)' %>

</div>