<%= render "shared/confirmation_notice" %>

<div class="well">
  <div class="container">
    <h3>
      Welcome <%= @seeker.name %>
    </h3>
  </div>
</div>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li>
      <a href="#lA" data-toggle="tab">Account Details</a>
    </li>
    <li>
      <a href="#lB" data-toggle="tab">Educations</a>
    </li>
    <li>
      <a href="#lC" data-toggle="tab">Experiences</a>
    </li>
    <li>
      <a href="#lD" data-toggle="tab">Skills</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="lA">
      <ul class="list-group">
        <li class="list-group-item">
          Email : <%= @seeker.email %>
        </li>
        <li class="list-group-item">
          Country : <%= @seeker.country %>
        </li>
        <li class="list-group-item total_experience">
          Total Experience : <%= total_experience(@seeker) %>
        </li>
        <% if !current_user.has_linkedin_auth? and current_user.linkedin_update == false %>
          <li>
            <%= link_to "Complete Your Profile By using Linkedin", auth_at_provider_path(:provider => :linkedin) %>
          </li>
        <% end %>
        <li>
          Connect to facebook : 
          <% if current_user.no_facebook_connection? %>
            <%= link_to "connect", auth_at_provider_path(:provider => :facebook) %>
          <% else %>
            connected
          <% end %>
        </li>
        <li>
          Connect to linkedin :
          <% if current_user.no_linkedin_connection? %>
            <%= link_to "connect", auth_at_provider_path(:provider => :linkedin) %>
          <% else %>
            connected
          <% end %>
        </li>
      </ul>
    </div>

    <div class="tab-pane" id="lB">
      <legend>
        <h3>Education Details</h3>
      </legend>
      <% @seeker.educations.each do |e| %>
        <div class="update_edu_<%= e.id %>">
          <%= render 'common/education_content', :e => e %>
        </div>
        <legend></legend>
      <% end %>
      <div class="new_edu">
        <%= render 'common/new_education' %>
      </div>
    </div>

    <div class="tab-pane" id="lC">
      <legend>
        <h3>Experience Details</h3>
      </legend>
      <% @seeker.experiences.each do |e| %>
        <div class="update_exp_<%= e.id %>">
          <%= render 'common/experience_content', :e => e %>
        </div>
        <legend></legend>
      <% end %>
      <div class="new_exp">
        <%= render 'common/new_experience' %>
      </div>
    </div>

    <div class="tab-pane" id="lD">
      <legend>
        <h3>Skills</h3>
      </legend>
      <% @seeker.skills.each do |e| %>
        <div class="update_skill_<%= e.id %>">
          <%= render 'common/skill_content', :e => e %>
        </div>
        <legend></legend>
      <% end %>
      <div class="new_skill">
        <%= render 'common/new_skill' %>
      </div>
    </div>
  </div>
</div>
<% if current_user.show_this_popup(controller.controller_name, controller.action_name) %>
  <%= render "shared/profile_popup" %>
<% end %>