<h3>Billing Information</h3>
<br/>
<div class='alert-block' style="display:none">
</div>
<%= form_tag current_user.type == 'Giver' ? giver_billing_settings_path(current_user) : seeker_billing_settings_path(current_user), :method =>  :post, :class => 'billing-settings' do %>

    <%= hidden_field_tag :charge_card, nil, :class => 'charge-card' %>
    <%= hidden_field_tag :stripe_token, nil, :class => 'stripe-token' %>

    <div>
      <%= label_tag :card_holder_name, "Card Holder Name." %>
      <%= text_field_tag :card_holder_name, nil, :name => nil, :class => 'card-holder-name' %>
    </div>

    <div>
      <%= label_tag :credit_card_number, "Card Number." %>
      <%= text_field_tag :credit_card_number, nil, :name => nil, :class => 'card-number' %>
    </div>

    <div>
      <%= label_tag :cvc, "Card Security Code." %>
      <%= text_field_tag :cvc, nil, :name => nil, :class => 'card-cvc' %>
    </div>

    <div>
      <%= label_tag :expiry_date, "Expiration Date" %>
      <%= date_select "", :expiry_date, {:discard_day => true, :order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 25} %>
    </div>

    <div>
      <%= submit_tag "Submit", :class => 'btn btn-primary' %>
    </div>
<% end %>
<%= render :partial => 'shared/stripe-js' %>