<nav class="navbar navbar-default navbar-primary" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class=" navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= current_page?(dashboard_user_path(current_user)) ? "active" : ""  %>">
          <%= link_to "Dashboard", dashboard_user_path(current_user) %>
        </li>
        <li class="<%= current_page?(user_path(current_user)) ? "active" : ""  %>">
          <%= link_to "Profile", edit_user_path(current_user) %>
        </li>
        <li class="<%= current_page?(user_perspectives_path(current_user)) ? "active" : ""  %>">
          <%= link_to "Perspectives", user_perspectives_path(current_user) %>
        </li>
       <li>
         <%= link_to "Sessions", 'javascript:void(0)' %>
       </li>
        <li>
          <%= link_to "Boosters", 'javascript:void(0)' %>
        </li>
        <li class= <%= controller.controller_name.eql?('accounts')? "active" : "" %> >
          <%= link_to "Account", accounts_path %>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
