<nav class="navbar navbar-secondary" role="navigation">
  <div class="container">


    <ul class="nav navbar-nav">
      <li>
        <%= link_to "Sub Menu 1", 'javascript:void(0)' %>
      </li>
      <li>
        <%= link_to "Sub Menu 2", 'javascript:void(0)' %>
      </li>
      <li>
        <%= link_to "Sub Menu 3", 'javascript:void(0)' %>
      </li>
      <li>
        <%= link_to "Sub Menu 4", 'javascript:void(0)' %>
      </li>
      <li>
        <%= link_to "Sub Menu 5", 'javascript:void(0)' %>
      </li>

    </ul>

  </div>
</nav>