<% if f.object.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <h4>
      Please correct following <%= pluralize(f.object.errors.count, "field") %>:
    </h4>
    <ul>
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="control-group">
  <%= f.label :first_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :first_name, :class => 'text_field', :required => true %>
  </div>
</div>

<div class="control-group">
  <%= f.label :last_name, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :last_name, :class => 'text_field', :required => true %>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, :class => 'control-label' %>
  <div class="controls">
    <%= f.email_field :email, :class => 'text_field', :required => true %>
  </div>
</div>

<div class="control-group">
  <%= f.label :country, :class => 'control-label' %>
  <div class="controls">
    <%= country_select(f.object.class.name.downcase, "country", ["United States", "United Kingdom"]) %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password, :class => 'control-label' %>
  <div class="controls">
    <%= f.password_field :password, :value => @password, :class => 'text_field', :required => true %>
  </div>
</div>

<div class="control-group">
  <%= f.label :password_confirmation, :class => 'control-label' %>
  <div class="controls">
    <%= f.password_field :password_confirmation, :value => @password_confirmation, :class => 'text_field', :required => true, :oninput => "check(this)" %>
  </div>
</div>

<div class="control-group">
  <%= f.label :hear, "How did you hear about us?", :class => 'control-label' %>
  <div class="controls">
    <%= f.select :hear, User::HOW_HEAR, :class => 'text_field', :required => true %>
  </div>
</div>

<div class="control-group">
  <div class="controls">
    <div class="row-fluid">
      <div class="span1">
        <%= f.check_box :promotional_news, :value => true, :checked => true %>
      </div>
      <div class="span11">
        <%= f.label :promotional_news, "Tell me about iSeekiGive news", :class => "small" %>
      </div>
    </div>
  </div>
</div>

<div class="control-group">
  <div class="field-notice">
    By clicking "Sign up" you confirm that you accept the 
    <%= link_to "Terms of Service", terms_path, :target => "_blank" %>
    and
    <%= link_to "Privacy Policy", privacy_path, :target => "_blank" %>
    .
  </div>
</div>

<div class="form-actions">
  <%= f.submit "Sign up", :class => 'btn btn-primary' %>
</div>

<div class="panel-footer">
  Already an iSeekiGive member?
  <%= link_to "Log in", login_path %>
</div>


<script type='text/javascript'>
  function check(input) {
    if (input.value != document.getElementById('<%= f.object.class.name.downcase %>_password').value) {
      input.setCustomValidity('The two passwords must match.');
    } else {
      // input is valid -- reset the error message
      input.setCustomValidity('');
    }
  }
</script>