<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h4>
        Please correct following <%= pluralize(@user.errors.count, "field") %>:
      </h4>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => 'text_field', :required => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'text_field', :required => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'text_field', :required => true %>
      <div class="field-notice"><span id="email_error"></span></div>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :value => @password, :class => 'text_field', :required => true %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :value => @password_confirmation, :class => 'text_field', :required => true, :oninput => "password_check(this)" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :how_hear, "How did you hear about us?", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :how_hear, User::HOW_HEAR, :class => 'text_field', :required => true %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <div class="row-fluid">
        <div class="span1">
          <%= f.check_box :promotional_news, :value => true, :checked => true %>
        </div>
        <div class="span11">
          <%= f.label :promotional_news, "Tell me about iSeekiGive news", :class => "small" %>
        </div>
      </div>
    </div>
  </div>

  <div class="control-group">
    <div class="field-notice">
      By clicking "Sign up" you confirm that you accept the
      <%= link_to "Terms of Service", terms_of_service_path, :target => "_blank" %>
      and
      <%= link_to "Privacy Policy", privacy_policy_path, :target => "_blank" %>
      .
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Sign up", :class => 'btn btn-primary' %>
  </div>

<% end %>

<div class="panel-footer">
  Already an iSeekiGive member?
  <%= link_to "Log in", login_path %>
</div>