<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>

  <div class="control-group">
    <%= f.label :first_name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :first_name, :required => true %>
    </div>
    <div class="controls">
      <span class="hint_msg">This is only shared once you have a confirmed Session with another iSeekiGive user</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :last_name, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :last_name, :required => true %>
    </div>
    <div class="controls">
      <span class="hint_msg">This is only shared once you have a confirmed Session with another iSeekiGive user</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'I am', :class => "control-label" %>
    <div class="controls">
      <%= f.select(:gender, %w[male female]) %>
      <%= link_to 'javascript:void(0)', :class => 'btn btn-primary  pull-right' do %>
        <span>Private</span>
        <i class="icon-lock  hover-icon-top-right hover-hold"></i>
      <% end %>
    </div>
    <div class="controls">
      <span class="hint_msg">We use this data for analysis and never share it with other users</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'Birth Date', :class => "control-label" %>
    <div class="controls">
      <%= date_select(f.object.class.name.downcase, "date_of_birth", {:ampm => true, :order => [:month, :day, :year], :use_short_month => true}, {:class => "input-small"}) %>
      <%= link_to 'javascript:void(0)', :class => 'btn btn-primary  pull-right' do %>
        <span>Private</span>
        <i class="icon-lock  hover-icon-top-right hover-hold"></i>
      <% end %>
    </div>
    <div class="controls">
      <span class="hint_msg">We use this data for analysis and never share it with other users</span>
    </div>
  </div>

  <% unless @user.external? %>
    <div class="control-group">
      <%= f.label :email, "Email Address", :class => "control-label" %>
      <div class="controls">
        <%= f.email_field :email, :required => true %>
        <%= link_to 'javascript:void(0)', :class => 'btn btn-primary  pull-right' do %>
          <span>Private</span>
          <i class="icon-lock  hover-icon-top-right hover-hold"></i>
        <% end %>
      </div>
      <div class="controls">
        <span class="hint_msg">This is only shared once you have a confirmed Session with another iSeekiGive user</span>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :country, 'Where you Live', :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :country, :required => true %>
      <%= link_to 'javascript:void(0)', :class => 'btn btn-primary  pull-right' do %>
        <span>Private</span>
        <i class="icon-lock  hover-icon-top-right hover-hold"></i>
      <% end %>
    </div>
    <div class="controls">
      <span class="hint_msg">Many Seekers are considering relocations, new cities and countries</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :descriptions, "Describe Yourself", :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :descriptions, :class => 'form_text_area' %>
    </div>
    <div class="gap-small"></div>
    <div class="controls">
      <span class="hint_msg">iSeekiGive is built on real perspectives for life transitions. Help other people get to know you better.</span>
      <span class="hint_msg">What brings you to iSeekiGive?</span>
      <span class="hint_msg">Tell them about yourself and any life transitions you may have had</span>
      <span class="hint_msg">Do you have life motto or tip(s) for your own life?</span>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Save", :class => "btn btn-primary" %>
  </div>
<% end %>