<h4>
  Pictures
</h4>
<div class="row">
  <% if @user.profile_photo.present? %>
    <div class="span2">
      <%= image_tag(@user.profile_photo_url(:thumb)) %>
      Profile Photo
    </div>
  <% end %>

  <% if @user.cover_photo.present? %>
    <div class="span2">
      <%= image_tag(@user.cover_photo_url(:thumb)) %>
      Cover Photo
    </div>
  <% end %>
</div>

<div class="gap"></div>

<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>

  <div class="control-group">
    <%= f.label :profile_photo, :class => "control-label" %>
    <div class="controls">
      <%= f.file_field :profile_photo %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :cover_photo, :class => "control-label" %>
    <div class="controls">
      <%= f.file_field :cover_photo %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Upload", :class => "btn btn-info" %>
  </div>
<% end %>