<%= render "dashboard_menu" %>
<%= render "shared/confirmation_notice" %>
<div class="container">
  <h3>Dashboard</h3>
</div>

<div class="gap"></div>

<div class="container">
  <p>Name : <%= @user.name %></p>

  <p>Level <%= @user.level %></p>
</div>
<% if current_user.show_this_popup(controller.controller_name, controller.action_name) %>
    <%= render 'shared/dashboard_popup' %>
<% end %>

<div class="container">
  <div class="row">
    <div class="span9">

      <h3>Holded Title</h3>

      <div class="row row-wrap">
        <div class="span3">
          <h5>Bottom</h5>
          <a class="hover-img" href="#">
            <img src="img/machine_businessman_800x600.jpg" alt="Image Alternative text" title="Machine Businessman"/>
            <h5 class="hover-title hover-hold">Viverra tellus</h5>
          </a>
        </div>
        <div class="span3">
          <h5>Top</h5>
          <a class="hover-img" href="#">
            <img src="img/good_job_800x600.jpg" alt="Image Alternative text" title="Good job"/>
            <h5 class="hover-title-top hover-hold">Mi elementum</h5>
          </a>
        </div>
        <div class="span3">
          <h5>Top Left</h5>
          <a class="hover-img" href="#">
            <img src="img/working_in_the_nature_800x600.jpg" alt="Image Alternative text" title="Working in the Nature"/>
            <h5 class="hover-title-top-left hover-hold">Aliquam fringilla</h5>
          </a>
        </div>
        <div class="span3">
          <h5>Top Right</h5>
          <a class="hover-img" href="#">
            <img src="img/business_group_800x600.jpg" alt="Image Alternative text" title="Business Group"/>
            <h5 class="hover-title-top-right hover-hold">Urna ipsum</h5>
          </a>
        </div>
        <div class="span3">
          <h5>Bottom Left</h5>
          <a class="hover-img" href="#">
            <img src="img/a_dreamy_jump_800x600.jpg" alt="Image Alternative text" title="a dreamy jump"/>
            <h5 class="hover-title-bottom-left hover-hold">Purus vestibulum</h5>
          </a>
        </div>
        <div class="span3">
          <h5>Bottom Right</h5>
          <a class="hover-img" href="#">
            <img src="img/in_the_bokeh_forest_800x600.jpg" alt="Image Alternative text" title="In the bokeh forest"/>
            <h5 class="hover-title-bottom-right hover-hold">Sollicitudin laoreet</h5>
          </a>
        </div>
        <div class="span3">
          <h5>Center</h5>
          <a class="hover-img" href="#">
            <img src="img/gamer_chick_800x600.jpg" alt="Image Alternative text" title="Gamer Chick"/>
            <h5 class="hover-title-center hover-hold">Donec viverra</h5>
          </a>
        </div>
        <div class="span3">
          <h5>Center Top</h5>
          <a class="hover-img" href="#">
            <img src="img/andrea_800x600.jpg" alt="Image Alternative text" title="Andrea"/>
            <h5 class="hover-title-center-top hover-hold">Convallis eros</h5>
          </a>
        </div>
        <div class="span3">
          <h5>Center Bottom</h5>
          <a class="hover-img" href="#">
            <img src="img/luca_800x600.jpg" alt="Image Alternative text" title="Luca"/>
            <h5 class="hover-title-center-bottom hover-hold">Adipiscing consectetur</h5>
          </a>
        </div>
      </div>

      <div class="gap gap-small"></div>
    </div>
  </div>
</div>

