

<%# if current_user.show_this_popup(controller.controller_name, controller.action_name) %>
<%#= render 'shared/dashboard_popup' %>
<%# end %>

<div class="container dashboard-container">
  <%= render "dashboard_menu" %>
  <%= render "shared/confirmation_notice" %>
  <div class="row row-wrap">
    <div class="span3">
        <%= link_to user_path(current_user), :class => "hover-img" do %>
            <%= image_tag "img/going_out_tonight_800x600.jpg", :alt => "Image Alternative text", :title => "a dreamy jump" %>
            <h5 class="hover-title-bottom-left hover-hold dashboard_img">PROFILE</h5>

            <div class="hover-inner">
              <p>Tell us about yourself. Completed profiles help us match the relevance of Seeker - Giver experiences
                and
                interests</p>
            </div>
        <% end %>
    </div>
    <div class="span3">
        <%= link_to user_perspectives_path(current_user), :class => "hover-img" do %>
            <%= image_tag "img/in_the_bokeh_forest_800x600.jpg", :alt => "Image Alternative text", :title => "a dreamy jump" %>
            <h5 class="hover-title-bottom-left hover-hold dashboard_img">PERSPECTIVE</h5>

            <div class="hover-inner">
              <p>Read or Share stories of "The Good, The Bad and The Ugly". Keep track of your stats and Perspectives
                from others you've saved</p>
            </div>
        <% end %>
    </div>
  </div>
  <div class="gap gap-small"></div>
  <div class="row row-wrap">
    <div class="span3">
        <%= link_to 'javascript:void(0)', :class => "hover-img" do %>
            <%= image_tag "img/a_dreamy_jump_800x600.jpg", :alt => "Image Alternative text", :title => "a dreamy jump" %>
            <i class="icon-lock  hover-icon-top-right hover-hold"></i>
            <h5 class="hover-title-bottom-left hover-hold dashboard_img">SESSION</h5>

            <div class="hover-inner">
              <p>Exchange your free time for rewards and make yourself available to chat with a relevant Seeker. Manage
                schedules, sessions and rewards here</p>
            </div>
        <% end %>
    </div>
    <div class="span3">
      <%= link_to 'javascript:void(0)'  , :class => "hover-img" do %>
          <%= image_tag "img/the_hidden_power_of_the_heart_800x600.jpg", :alt => "Image Alternative text", :title => "a dreamy jump" %>
          <h5 class="hover-title-bottom-left hover-hold dashboard_img">BOOSTER</h5>

          <div class="hover-inner">
            <p>Start a campaign and raise proceeds for a cause you care about. Easily invite others to share their time
              and give back to support your campaign.</p>
          </div>
      <% end %>
    </div>
  </div>

  <div class="gap gap-small"></div>
</div>

