<div class="row">
  <div class="container">
    <%= render "dashboard_menu" %>
    <%= render 'shared/breadcrumb' %>
    <div class="span3">
      <%= render 'sidebar' %>
    </div>

    <div class="span8">
      <%= render "shared/confirmation_notice" %>
      <div class="gap"></div>
      <%= render @user.step[@step] %>
    </div>

  </div>

</div>

<script type="text/javascript">
  $(".change-majors-no").on('click', function () {
    $("#submit").hide();
  });
  $(".change-majors-yes").on('click', function () {
    $("#submit").show();
  });
</script>
