<div id="skill_<%= skill.id %>" class="skill-container">
  <div class="info-container">
    <p>
      <%= skill.name %>
      <%= link_to 'edit', 'javascript:void(0)', :class => "btn btn-mini btn-primary btn-edit" %>
      <%= link_to 'delete', skill, :method => :delete, :remote => true, :class => "btn btn-mini btn-primary" %>
    </p>
  </div>
  <div class="form-container" style="display:none">
    <%= render 'skills/form', :skill => skill %>
  </div>
  <hr/>
</div>
