<%= render "header" %>

<h2>Share your fresh Perspectives .</h2>

<%= link_to "Schools", schools_seeker_perspectives_path(current_user) %> |
<%= link_to "Majors", majors_seeker_perspectives_path(current_user) %> |
<%= link_to "Cities", cities_seeker_perspectives_path(current_user) %> |
<%= link_to "Functions", functions_seeker_perspectives_path(current_user) %> |
<%= link_to "Skills", skills_seeker_perspectives_path(current_user) %>
<hr/>

<div class="row-fluid">
  <h3>
    Givers List
  </h3>
  <ul>
    <% @givers.each_with_index do |giver, index| %>
      <li>
        <%= index + 1 %>.
        <%= link_to giver.name, public_profile_giver_path(giver) %>
      </li>
    <% end %>
  </ul>
</div>


<% if current_user.show_this_popup(controller.controller_name, controller.action_name) %>
  <%= render "shared/perspectives_popup" %>
<% end %>