<footer class="main center">
  <div class="container">
    <ul class="list list-inline nav-footer">
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "How it works", how_it_works_path %>
      </li>
      <li>
        <%= link_to "About Us", "http://facelift.iseekigive.com/clkn/http/blog.iseekigive.com/ourstory", :target => "_blank" %>
      </li>
      <li>
        <%= link_to "Login", login_path %>
      </li>
    </ul>
    <ul class="list list-inline">
      <li>
        <a href="#" class="icon-facebook box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="Facebook"></a>
      </li>
      <li>
        <a href="#" class="icon-twitter box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="Twitter"></a>
      </li>
      <li>
        <a href="#" class="icon-linkedin box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="Linkedin"></a>
      </li>
      <li>
        <a href="#" class="icon-envelope box-icon-to-inverse animate-icon-bottom-to-top" data-toggle="tooltip" title="Mail"></a>
      </li>
    </ul>
    <div class="gap gap-small"></div>	
    <small>
      &copy; Copyright 2013 by
      <%= link_to "iSeekiGive", root_url %>
      .
      All Rights Reserved.
    </small>
  </div>
</footer>