<header class="main shrink">
  <div class="container">
    <div class="row">
      <div class="span2">
        <div class="logo-container">
          <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>
        </div>
      </div>
      <div class="span7">
        <div class="row">
          <%= form_tag '#', :method => "get", :class => "find-givers-form" do %>
            <i class="icon-search"></i>
            <%= text_field_tag "search_keywords", '' ,:class => "span3", :placeholder => "Find Givers" %>
          <% end %>
        </div>
      </div>
      <div class="span3">
        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu</div>
        <nav>
          <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
            <li class="<%= "active" if current_page?(how_it_works_path) %>">
              <%= link_to "How it works", how_it_works_path %>
            </li>
            <li>
              <%= link_to "About Us", "http://facelift.iseekigive.com/clkn/http/blog.iseekigive.com/ourstory", :target => "_blank" %>
            </li>
            <li class="<%= "active" if current_page?(login_path) %>">
              <%= link_to "Login", login_path %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>