<header class="main shrink">
  <div class="container">
    <div class="row">
      <div class="span2">
        <div class="logo-container">
          <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>
        </div>
      </div>
      <div class="<%= logged_in? ? "span6" : "span7" %>">
        <div class="row">
          <%= form_tag '#', :method => "get", :class => "find-givers-form" do %>
            <i class="icon-search"></i>
            <%= text_field_tag "search_keywords", '' ,:class => "span3", :placeholder => "Find Givers" %>
          <% end %>
        </div>
      </div>
      <div class="<%= logged_in? ? "span4 offset1" : "span3" %>">
        <div class="flexnav-menu-button" id="flexnav-menu-button">Menu</div>
        <nav>
          <ul class="nav nav-pills flexnav" id="flexnav" data-breakpoint="800">
            <%= nav_link "How it works", how_it_works_path %>
            <li>
              <%= link_to "About Us", "http://facelift.iseekigive.com/clkn/http/blog.iseekigive.com/ourstory", :target => "_blank" %>
            </li>
            <% if logged_in? %>
              <li>
                <%= link_to "javascript:;" do %>
                  <i class="icon-box">
                    <%= image_tag(profile_photo_path(current_user, {:width => 25, :height => 25, :version => :icon}), :class=>'img-rounded profile-image') %>
                  </i>
                  <%= current_user.display_name %>
                <% end %>
                <ul>
                  <%= nav_link "Dashboard", dashboard_path %>
                  <%= nav_link "Perspectivs", perspectives_path %>
                  <%= nav_link "Manage Sessions", "javascript:;" %>
                  <%= nav_link "Edit Profile", profile_path %>
                  <%= nav_link "Boosters", "javascript:;" %>
                  <%= nav_link "Logout", logout_path %>
                </ul>
              </li>
            <% else %>
              <%= nav_link "Login", login_path %>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>