<div class="navbar navbar-fluid-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "iSeekiGive", root_path, :class => "brand" %>
      <div class="container-fluid nav-collapse">
        <ul class="nav">
          <% if current_user %>
            <li>
              <%= link_to "Profile", current_user %>
            </li>
            <li>
              <%= link_to "Logout", logout_path  %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign Up", signup_path  %>
            </li>
            <li>
              <%= link_to "Sign In", signin_path  %>
            </li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>