<% unless seeker_schedules.blank? %>
    <table class="table">
      <tr>
        <th>Requested Session</th>
        <th>Message</th>
        <th>Seeker Name</th>
        <th>Giver Name</th>
        <th>status</th>
      </tr>
      <% seeker_schedules.each do |schedule| %>
          <tr class="<%= schedule.status.eql?("pending") ? "warning" : "success" %>">
            <td><%= schedule.schedule_time %></td>
            <td><%= schedule.description %></td>
            <td><%= schedule.seeker_name %></td>
            <td><%= schedule.giver_name %></td>

            <% if schedule.status.eql?("pending") %>
                <td>
                  <%= link_to schedule.status, "javascript:void(0)", :class => "btn btn-warning disabled" %> |
                  <%= link_to "Reject",session_request_reject_seeker_sessions_path(current_user,:id => schedule.id),:remote => true, :class => "btn btn-danger" %>
                </td>

            <% else %>
                <td><%= link_to "#{schedule.status}", "javascript:void(0)", :class => "btn btn-success disabled" %></td>
            <% end %>
                </tr>

      <% end %>
    </table>
<% else %>
    <p class="info">You didn't request any session.</p>
<% end %>
