<%= render "header" %>
<p class="text-center"><strong>Manage your session requests here</strong></p>

<p class="text-left"><%= link_to "prev", manage_requests_seeker_sessions_path(current_user,:week => @prev_week) %></p>
<% if @interval.present? %>
	<p class="text-center"><b><%= @interval.days.ago.beginning_of_week.strftime("%B %d") + " - " + @interval.days.ago.end_of_week.strftime("%B %d") %></b></p>
<% else %>
	<p class="text-center"><b><%= Date.today.beginning_of_week.strftime("%B %d") + " - " + Date.today.end_of_week.strftime("%B %d") %></b></p>
<% end %>

<p class="text-right"><%= link_to "next", manage_requests_seeker_sessions_path(current_user,:week => @next_week) %></p>
<br/>

<%= render :partial => "seeker_requests", :locals => {:seeker_schedules => @seeker_schedules} %>
