<div id="experience_<%= experience.id %>" class="experience-container">
  <div class="info-container">
    <h4>
      <%= experience.title %>
      <%# link_to 'edit', 'javascript:void(0)', :class => "btn btn-mini btn-primary btn-edit" %>
      <%# link_to 'delete', experience, :method => :delete, :remote => true, :class => "btn btn-mini btn-primary" %>
    </h4>
    <p>
      <%= experience.company_name %>
    </p>
    <% if experience.start_date.present? %>
      <p>
        <%= experience.start_date.strftime("%B %Y") %> -
        <%= experience.end_date.present? ? experience.end_date.strftime("%B %Y") : "Present" %>
      </p>
    <% end %>
  </div>
  <div class="form-container" style="display:none">
    <%= render 'experiences/form', :experience => experience %>
  </div>
  <hr/>
</div>