<ul class="nav nav-tabs">
  <li class="<%= "active" if current_page?(good_stories_stories_path) %>">
    <%= link_to "The Good", good_stories_stories_path %>
  </li>
  <li class="<%= "active" if current_page?(bad_stories_stories_path) %>">
    <%= link_to "The Bad", bad_stories_stories_path %>
  </li>
  <li class="<%= "active" if current_page?(ugly_stories_stories_path) %>">
    <%= link_to "The Ugly", ugly_stories_stories_path %>
  </li>
</ul>

<div class="gap gap-small"></div>