<%= form_tag "perspectives/add_story", :class => :add_story do %>
    <span> <%= title_text  %></span>
    <div class="gap-small"></div>
	<%= text_area_tag :story, nil, :placeholder => "What is your perspective...", :class =>"form_text_area" %>
	<br/>
	<%= hidden_field_tag :story_type, type %>
    <%= label_tag 'Key Word' %>
    <%= text_field_tag :keyword,nil,:placeholder => "Type your keyword", :class => "keyword_tag" %>
	<%= check_box_tag :anonymous %> Anonymous
    <div class="gap-small"></div>
	<%= submit_tag "Submit", class: 'btn btn-primary' %>
<% end %>
