<%= render "header" %>

<h2>Share your fresh Perspectives .</h2>

<%= link_to "Game 1", game_1_user_perspectives_path(current_user) %> |
<%= link_to "Game 2", game_2_user_perspectives_path(current_user) %> |
<%= link_to "Game 3", game_3_user_perspectives_path(current_user) %> |
<%= link_to "Game 4" %> |
<%= link_to "Game 5" %>

<% if current_user.show_this_popup(controller.controller_name, controller.action_name) %>
  <%= render "shared/perspectives_popup" %>
<% end %>