<%= render "users/dashboard_menu" %>

<%# link_to "Game 1", game_1_user_perspectives_path(current_user) %>
<%# link_to "Game 2", game_2_user_perspectives_path(current_user) %>
<%# link_to "Game 3", game_3_user_perspectives_path(current_user) %>
<%# link_to "Game 4" %>
<%# link_to "Game 5" %>

<% if current_user.show_this_popup(controller.controller_name, controller.action_name) %>
    <%= render "shared/perspectives_popup" %>
<% end %>

<div class="container">
  <h2>Share your fresh Perspectives .</h2>

  <p>
    Share your personal experiences: The Good, The Bad and The Ugly
  </p>

  <p>Step 1. Choose 1 of 3 stroy types</p>

  <p>Step 2. Share your perspectives</p>

  <p>Step 3. Add your keyword tags and select Post.</p>

  <p>Sharing your Perspectives will help Seekers and help them to find you</p>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#good_story" data-toggle="tab">Good Story</a></li>
    <li><a href="#bad_story" data-toggle="tab">Bad Story</a></li>
    <li><a href="#ugly_story" data-toggle="tab">Ugly Story</a></li>
  </ul>

  <div class="tab-content">
    <div id="good_story" class="tab-pane fade in active">

      <%= render :partial => "add_story", :locals => {:type => "The Good", :title_text => "The good things I like or things someone might like about…(my current of former city, job function, company, school, industry, etc)"} %>
    </div>

    <div id="bad_story" class="tab-pane fade">

      <%= render :partial => "add_story", :locals => {:type => "The Bad", :title_text => "The things I didn't like or things someone might not like about …(my current of former city, job function, company, school, industry,"} %>
    </div>

    <div id="ugly_story" class="tab-pane fade">

      <%= render :partial => "add_story", :locals => {:type => "The Ugly", :title_text => "Red flags and warnings. Risks and things to be careful of, be aware of or watch out for in…(my current of former city, job function, company, school, industry, etc)"} %>
    </div>
  </div>
  <hr/>
  <div>
    <% @perspectives.each do |story| %>
        <% user = story.user %>
        <div class="col-lg-6 col-sm-6">
          <section class="panel">
            <div class="panel-body">
              <div class="clearfix m-b">
                <small class="text-muted pull-right">

                  <%= distance_of_time_in_words(Time.now, story.created_at) %> ago..

                </small>
                <a href="#" class="thumb-sm pull-left m-r"> <img src="images/avatar.jpg" class="img-circle"> </a>

                <div class="clear"><a href="#"><strong>

                  <%= user.full_name %>

                </strong></a>

                  <small class="block text-muted">

                    <%= [user.city, user.country].compact.join(",") %>

                  </small>
                  <small class="block text-muted">

                    <%= story.story %>

                  </small>
                </div>
              </div>
              <p class="story"> <%= story.story %></p>
            </div>
          </section>
        </div>

    <% end %>
  </div>
  <div>
  	<% unless @saved_stories.blank? %>
  		<p>User's saved stories : <%= @saved_stories.count %></p>
  		<% @saved_stories.each do |story| %>

  			<% user = @s_user.call(story) %>
  			<%= user.full_name %>
  			<div class="gap-small"></div>
  			<%= [user.city, user.country].compact.join(",") %>
  			<div class="gap-small"></div>
  			<%= story.perspective_tags.collect(&:name).join(",") %>
  			<div class="gap-small"></div>
  			<%= story.story_type %>
  			<div class="gap-small"></div>
  			<p class="story"><%= story.story  %></p>
  			<div class="gap-small"></div>
  			<hr/>
  		<% end %>
  	<% end %>
  </div>
</div>

<script type="text/javascript">
    $(function () {

        $(".story").readmore({
            maxHeight: 80
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $.getJSON("/tags", function (data) {
            var temp_tags = [];
            $(".keyword_tag").tagit({
                availableTags: data,

                afterTagAdded: function (event, ui) {
                    temp_tags.push(ui.tagLabel);
                    data.push(_.last(temp_tags));
                    console.log(data);
                },
                afterTagRemoved: function (event, ui) {
                    if (_.indexOf(temp_tags, ui.tagLabel) != (-1)) {
                        data.splice(_.indexOf(data, ui.tagLabel), 1);
                        console.log(data);
                    }
                },
                allowSpaces: true
            });
        });
    });


</script>
