<%= render "users/dashboard_menu" %>
<%#= stylesheet_link_tag "css/app.v2", :media => "all" %>
<style type="text/css">

</style>

<%# link_to "Game 1", game_1_user_perspectives_path(current_user) %>
<%# link_to "Game 2", game_2_user_perspectives_path(current_user) %>
<%# link_to "Game 3", game_3_user_perspectives_path(current_user) %>
<%# link_to "Game 4" %>
<%# link_to "Game 5" %>

<% if current_user.show_this_popup(controller.controller_name, controller.action_name) %>
    <%= render "shared/perspectives_popup" %>
<% end %>

<div class="container">
  <h2>Share your fresh Perspectives .</h2>

  <p>
    Share your personal experiences: The Good, The Bad and The Ugly
  </p>

  <p>Step 1. Choose 1 of 3 stroy types</p>

  <p>Step 2. Share your perspectives</p>

  <p>Step 3. Add your keyword tags and select Post.</p>

  <p>Sharing your Perspectives will help Seekers and help them to find you</p>
</div>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#good_story" data-toggle="tab">Good Story</a></li>
    <li><a href="#bad_story" data-toggle="tab">Bad Story</a></li>
    <li><a href="#ugly_story" data-toggle="tab">Ugly Story</a></li>
  </ul>

  <div class="tab-content story-tab">
    <div id="good_story" class="tab-pane fade in active">

      <%= render :partial => "add_story", :locals => {:type => "The Good", :title_text => "The good things I like or things someone might like about…(my current of former city, job function, company, school, industry, etc)"} %>
    </div>

    <div id="bad_story" class="tab-pane fade">

      <%= render :partial => "add_story", :locals => {:type => "The Bad", :title_text => "The things I didn't like or things someone might not like about …(my current of former city, job function, company, school, industry,"} %>
    </div>

    <div id="ugly_story" class="tab-pane fade">

      <%= render :partial => "add_story", :locals => {:type => "The Ugly", :title_text => "Red flags and warnings. Risks and things to be careful of, be aware of or watch out for in…(my current of former city, job function, company, school, industry, etc)"} %>
    </div>
  </div>
  <div class="container story-count">
     <div class="gap"></div>
      <table border="1" class='item-result story-table'>
        <thead>
        <tr>
          <td>Type</td>
          <td>The Good</td>
          <td>The Bad</td>
          <td>The Ugly</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Saved</td>
          <td>
            <%= @saved_good_stories %>
          </td>
          <td>
            <%= @saved_bad_stories %>
          </td>
          <td>
            <%= @saved_ugly_stories %>
          </td>
        </tr>
        <td>Viewed</td>
        <td>
          <%= @good_stories_view %>
        </td>
        <td>
          <%= @bad_stories_view %>
        </td>
        <td>
          <%= @ugly_stories_view %>
        </td>
        </tbody>
      </table>
  </div>
  <hr/>
  <div class="gap"></div>

  <div>
    <% @perspectives.each do |story| %>
        <div class="col-lg-6 col-sm-6">
          <section class="panel">
            <div class="panel-body">
              <div class="clearfix m-b">
                <small class="text-muted pull-right">

                  <%= distance_of_time_in_words(Time.now, story.created_at) %> ago..

                </small>
                  <%= link_to ((!story.anonymous)? public_profile_user_path(story.user.id) : "javascript:void(0)"), :class => "thumb-sm pull-left m-r"  do %>
                    <%= image_tag((story.user.profile_photo.public_profile.present? && !story.anonymous) ? story.user.profile_photo.public_profile.url : 'default_user.png', :class => 'img-circle profile-image') %>
                  <% end %>

                <div class="clear"><a href="#"><strong>

                  <%= !story.anonymous ? story.user.full_name : "Anonymous" %>

                </strong></a>

                  <small class="block text-muted">

                    <%= !story.anonymous ? [story.user.city, story.user.country].compact.join(",") : "" %>

                  </small>
                  <small class="block text-muted story">

                    <%= story.perspective_tags.collect(&:name).join(",") %>

                  </small>
                </div>
              </div>
              <p > <span class="story">

                <%= story.story %>

              </span></p>
            </div>
          </section>
          <hr>
        </div>

    <% end %>
  </div>
  <div>
  	<% unless @saved_stories.blank? %>
  		<% @saved_stories.each do |story| %>
            <div class="col-lg-6 col-sm-6">
              <section class="panel">
                <div class="panel-body">
                  <div class="clearfix m-b">
                    <small class="text-muted pull-right">

                      <%= distance_of_time_in_words(Time.now, story.created_at) %> ago..

                    </small>
                    <%= link_to  public_profile_user_path(story.user.id), :class => "thumb-sm pull-left m-r"  do %>
                        <%= image_tag((story.user.profile_photo.public_profile.present?) ? story.user.profile_photo.public_profile : 'default_user.png', :class => 'img-circle profile-image') %>
                    <% end %>

                    <div class="clear"><a href="#"><strong>

                      <%= story.user.full_name %>

                    </strong></a>

                      <small class="block text-muted">

                        <%= [story.user.city, story.user.country].compact.join(",") %>

                      </small>
                      <small class="block text-muted story">

                        <%= story.perspective_tags.collect(&:name).join(",") %>

                      </small>
                    </div>
                  </div>
                  <p > <span class="story">

                <%= story.story %>

              </span></p>
                </div>
              </section>
              <hr>
            </div>

  		<% end %>
  	<% end %>
  </div>
</div>

<script type="text/javascript">
    $(function () {

        $(".story").readmore({
            maxHeight: 40
        });
    });
</script>

<script type="text/javascript">
    $(function () {
        $.getJSON("/tags", function (data) {
            var temp_tags = [];
            $(".keyword_tag").tagit({
                availableTags: data,

                afterTagAdded: function (event, ui) {
                    temp_tags.push(ui.tagLabel);
                    data.push(_.last(temp_tags));
                    console.log(data);
                },
                afterTagRemoved: function (event, ui) {
                    if (_.indexOf(temp_tags, ui.tagLabel) != (-1)) {
                        data.splice(_.indexOf(data, ui.tagLabel), 1);
                        console.log(data);
                    }
                },
                allowSpaces: true
            });
        });
    });


</script>
