<%= render "users/dashboard_menu" %>

<h2>Share your fresh Perspectives .</h2>

<%# link_to "Game 1", game_1_user_perspectives_path(current_user) %> 
<%# link_to "Game 2", game_2_user_perspectives_path(current_user) %> 
<%# link_to "Game 3", game_3_user_perspectives_path(current_user) %> 
<%# link_to "Game 4" %> 
<%# link_to "Game 5" %>

<% if current_user.show_this_popup(controller.controller_name, controller.action_name) %>
  <%= render "shared/perspectives_popup" %>
<% end %>

<ul class="nav nav-tabs">
  <li class="active"><a href="#good_story" data-toggle="tab">Good Story</a></li>
  <li><a href="#bad_story" data-toggle="tab">Bad Story</a></li>
  <li><a href="#ugly_story" data-toggle="tab">Ugly Story</a></li>
</ul>

<div class="tab-content">
	<div id="good_story" class ="tab-pane fade in active">

		<%= render :partial => "add_story", :locals => {:type => "The Good" } %>
	</div>

	<div id="bad_story" class ="tab-pane fade">

		<%= render :partial => "add_story", :locals => {:type => "The Bad" } %>
	</div>

	<div id="ugly_story" class ="tab-pane fade">

		<%= render :partial => "add_story", :locals => {:type => "The Ugly" } %>
	</div>
</div>
<hr/>
<div>
	<% @perspectives.each do |story| %>
		<% user = @d_user.call(story) %>
		<%= user.full_name %>
		<br/>
		<%= [user.city , user.country].compact.join(",") %>
		<br/>
		<%= story.perspective_tags.collect(&:name).join(",") %>
		<br/>
		<%= story.story_type %>
		<br/>
		<p class="story"><%= story.story %></p>
		<%= distance_of_time_in_words(Time.now, story.created_at) %> ago..
		<hr/>
	<% end %>
</div>

<script type="text/javascript">
	$(function(){

		$(".story").readmore({
			maxHeight: 80
		});
	});
</script>

<script type="text/javascript">
  $(function(){
    $.getJSON("/tags",function(data){
      var temp_tags = [];
      $(".keyword_tag").tagit({
        availableTags : data,

        afterTagAdded :function(event, ui){
          temp_tags.push(ui.tagLabel);
          data.push(_.last(temp_tags));
          console.log(data);
        },
        afterTagRemoved : function(event, ui){
          if (_.indexOf(temp_tags,ui.tagLabel) != (-1) ){
            data.splice(_.indexOf(data, ui.tagLabel),1);
            console.log(data);
          }
        },
        allowSpaces : true
    });
  });
});


</script>
