<div class="row-fluid">
  <div class="span12" style="text-align: right">
    <h4>
      <%= @education.school_name %>
    </h4>
    <h5>
      <%= @education.degree %>,
      <%= @education.field_of_study %>
    </h5>
  </div>
</div>

<div class="row-fluid">
  <div class="skills span6">
    <% (@giver.skills - @education.skills).each do |skill| %>
      <span class="skill_tag btn btn-info" id='skill_<%= skill.id %>'>
        <%= skill.name %>
      </span>
    <% end %>
  </div>


  <div class="span6">
    <legend>
      Drop your matching skills below:
    </legend>
    <div id="matching-skills-container">
      <% @education.skills.each do |skill| %>
        <span class="skill_tag btn btn-info" id='skill_<%= skill.id %>'>
          <%= skill.name %>
          <a href="javascript:void(0)" class="close_skill">X</a>
        </span>
        </span>
      <% end %>
    </div>
  </div>
</div>