<div class="field_text">
  <h4><%= edu.school_name %></h4>
  <p><%= edu.degree %>, <%= edu.field_of_study %></p>
  <p><%= edu.start_date.strftime("%Y") %> - <%= edu.end_date.present? ? edu.end_date.strftime("%Y") : "current" %></p>
</div>