
<%= render :partial => 'experience_skill' %>
<%= form_for(@experience, :url => game_experience_giver_perspectives_path, :method => 'post', :html => { :class => "icon-btn span3 popovers", :style =>"padding-top:1px;", },:remote =>true) do |f| %>
    <div id ="exp_skill_container">
      <% @experience.skills.each do |skill| %>
          <%= hidden_field_tag "skills[]", skill.id, :id =>"exp_skill_hidden_#{skill.id}" %>
      <% end %>
    </div>
    <%= f.submit "Submit", class: "btn" %>
    <%= button_tag "Cancel", :type => :button, :id =>"cancel_exp_skill_add" %>
<% end %>


<script type="text/javascript">
  $(function(){
    $(".skills span").draggable({
      appendTo: "body",
      helper : 'clone'
    });

    droppable_div = $("#matching-skills-container");
    giver_id = "<%= @giver.id %>";

    droppable_div.droppable({
      activeClass: "ui-state-default",
      hoverClass: "ui-state-hover",
      accept: ":not(.ui-sortable-helper)",
      drop: function(event, ui){
        var skill_span_id = ui.draggable.attr('id');
        var skill_id = skill_span_id.replace("skill_", "");

        droppable_div.append('<span class="btn btn-info skill_tag" id="' + skill_span_id + '">' + ui.draggable.text() + '<a href="javascript:void(0)" class="close_skill">X</a></span>');
          $("#exp_skill_container").append('<input type="hidden" name="skills[]" value="'+skill_id+'" id= "exp_skill_hidden_'+skill_id+'" />');
          $("#skill_"+skill_id).hide();


      }

    });


  });

  $(document).on('click', '.close_skill', function(e) {
      skill_span_id =  $(this).parent().attr("id");
      skill_id = skill_span_id.replace("skill_", "");
      $(this).parent().remove();
      $("#"+skill_span_id).show();
      $("#exp_skill_hidden_"+skill_id).remove();

  });
  $("#cancel_exp_skill_add").click(function(){
      $.fancybox.close();
  }) ;

</script>
