<div class="row-fluid">
  <%= render "header" %>
  <h4>
    Game 2: Skills Match
  </h4>

  <h5>
    This Game is to reflect on what you’ve learned and where
  </h5>
</div>

<div class="row-fluid">
  <div class="span6">
    <legend>Experiences</legend>
    <% @giver.experiences.each do |ex| %>
      <%= render 'experience', :experience => ex %>
      <%= link_to "Manage Skills", game_experience_giver_perspectives_path(@giver, ex) %>
      <hr/>
    <% end %>
  </div>

  <div class="span6">
    <legend>Educations</legend>
    <% @giver.educations.each do |edu| %>
      <%= render 'education', :education => edu %>
      <%= link_to "Manage Skills", game_education_giver_perspectives_path(@giver, edu) %>
      <hr/>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 form-actions">
    <legend>
      Pick a choice and save your results
    </legend>
    <%= link_to "Return to Perspectives", giver_perspectives_path(@giver), :class => "btn btn-info" %> |
    <%= link_to "Next Game", game_3_giver_perspectives_path(@giver), :class => "btn btn-info" %>
  </div>
</div>
