<div class="row-fluid">
  <%= render "header" %>

  <h4>
    Game 3: The Good, The Bad, The Ugly
  </h4>

  <h5>
    The rules of this game are simple.<br/>
    There are 3 labels, place each one on a different experience based on your
    ability to say something good, bad or ugly.
  </h5>

  <p>
    The Good:  There are things I liked or things others might like about …
    (this job, this function, this company, this city, this school, etc…)
  </p>

  <p>
    The Bad: There are things I didn’t like or things others might not like about …
  </p>

  <p>
    The Ugly: There are things to be careful of, risks or things to watch-out for in …
  </p>
</div>
<br/>
<div>
  <% @random_giver_experiences.each do |experience| %>
    <div class="experience_<%= experience.id %>">
      <%= experience.respond_to?(:company_name)? experience.company_name : experience.school_name  %>
      <br/>
      <%= experience.respond_to?(:title)? experience.title : experience.degree %> 
      <br/>
      <%= link_to "How was the experience", "javascript:void(0);", :class => "feeling" %>
    </div>
    <div class="activate_feeling" id="experience_<%= experience.id %>" style="display:none">

      <%= radio_button "feeling", "feeling", "good" %> Good <br/>
      <%= radio_button "feeling", "feeling", "bad"  %> Bad  <br/>
      <%= radio_button "feeling", "feeling", "ugly" %> Ugly <br/>

    </div>
    <hr/>
  <% end %>
</div>
<%= link_to "Next", share_story_giver_perspectives_path(current_user), :class => "btn btn-info" %>
<%= link_to "Cancel", giver_perspectives_path(current_user), :class => "btn btn-info" %>





<script type="text/javascript">
  $(function(){

    $(".feeling").on('click',function(){
      var experience_id = $(this).parent().attr("class");
      $("#"+ experience_id).toggle('slow');
    });
  });
</script>