<div class="row-fluid">
  <%= render "header" %>

  <h4>
    Game 3: The Good, The Bad, The Ugly
  </h4>

  <h5>
    The rules of this game are simple.<br/>
    There are 3 labels, place each one on a different experience based on your
    ability to say something good, bad or ugly.
  </h5>

  <p>
    The Good:  There are things I liked or things others might like about …
    (this job, this function, this company, this city, this school, etc…)
  </p>

  <p>
    The Bad: There are things I didn’t like or things others might not like about …
  </p>

  <p>
    The Ugly: There are things to be careful of, risks or things to watch-out for in …
  </p>
</div>

<%= form_tag "" do %>

  <div class="row-fluid">

    <% @experiences_or_educations.each do |e| %>
      <div>
        <% if e.class == Experience %>
          <%= render 'experience', :experience => e %>
        <% elsif e.class == Education %>
          <%= render 'education', :education => e %>
        <% end %>
        <%= select_tag :"feelings[#{e.class.to_s}][#{e.id}]", options_for_select(["The Good", "The Bad", "The Ugly"])  %>
        <hr/>
      </div>
    <% end %>

    <%= link_to "Cancel", giver_perspectives_path(@giver), :class => "btn btn-info" %>
    <%= link_to "Next", "#share_story", :onclick => "$('#share_story').show();", :class => "btn btn-info" %>

  </div>

  <div class="row-fluid" id="share_story" style="display:block">
    <legend>
      <h3>Share a story about “The Good, The Bad and The Ugly”.</h3>
    </legend>


    <%= fields_for :perspective do |g| %>

      <div class="row-fluid">
        <legend>
          The Ugly
        </legend>
        <div class="span11">
          <div class="span6">
            <%= g.label :ugly_story, "Share a story based on the above.  All responses will be kept strictly anonymous until you decide otherwise.", :class => "control-label"  %>
            <%= g.text_area :ugly_story, :value => @giver.ugly_perspective.story, :style => "width:100%;Height:80px;" %>
            <br/>
            <%= g.label :ugly_keywords, "Enter Keywords to describe these experiences:", :class => "control-label" %>
            <%= g.text_field :ugly_keywords,:class => "keyword_tag1" %>
            <br/>
            <%= g.check_box :ugly_anonymous, :checked => @giver.ugly_perspective.anonymous %>
            Anonymous
          </div>
          <div class="span6">
            “Sample: "The Ugly"
            <br/>
            Working in Finance is not what one might think. It's glamorous on the surface, but it's also competitive and cut-throat. Some days I spend more time watching my back than getting things done. I would prefer a stronger team environment and emphasis on collaboration; rewards on team success rather than individual merits.
          </div>
        </div>
      </div>

      <div style="height:20px;"></div>

      <div class="row-fluid">
        <legend>
          The Bad
        </legend>
        <div class="span11">
          <div class="span6">
            <%= label :bad_story, "Share a story based on the above.  All responses will be kept strictly anonymous until you decide otherwise.", :class => "control-label"  %>
            <%= g.text_area :bad_story, :value => @giver.bad_perspective.story, :style => "width:100%;Height:80px;" %>
            <br/>
            <%= g.label :bad_keywords, "Enter Keywords to describe these experiences:", :class => "control-label" %>
            <%= g.text_field :bad_keywords,:class => "keyword_tag2" %>
            <br/>
            <%= g.check_box :bad_anonymous, :checked => @giver.bad_perspective.anonymous %>
            Anonymous
          </div>
          <div class="span6">
            “Sample: "The Bad"
            <br/>

          </div>
        </div>
      </div>

      <div style="height:20px;"></div>

      <div class="row-fluid">
        <legend>
          The Good
        </legend>
        <div class="span11">
          <div class="span6">
            <%= g.label :good_story, "Share a story based on the above.  All responses will be kept strictly anonymous until you decide otherwise.", :class => "control-label"  %>
            <%= g.text_area :good_story, :value => @giver.good_perspective.story, :style => "width:100%;Height:80px;" %>
            <br/>
            <%= g.label :good_keywords, "Enter Keywords to describe these experiences:", :class => "control-label" %>
            <%= g.text_field :good_keywords, :class => "keyword_tag3" %>
            <br/>
            <%= g.check_box :good_anonymous, :checked => @giver.good_perspective.anonymous %>
            Anonymous
          </div>
          <div class="span6">
            “Sample: "The Good"
            <br/>
            Digital Marketing offers fast paced and fun environments that will keep you on your toes. We work with content providers and publishers and spend most of our days either online or working with people. On some days, it's almost like we get paid to read-up on FB, Twitter or Instagram. On other days I work with big brands such as Coke, Starubucks or McDonalds - I really can't complain about the variety and exposure!
          </div>
        </div>
      </div>

      <div style="height:20px;"></div>

    <% end %>

    <div class="form-actions">
      <legend>
        Pick a choice and save your results
      </legend>
      <%= submit_tag "Return to Perspectives", :name => "return", :class => "btn btn-info" %> |
      <%= submit_tag "Next Game", :name => "next", :class => "btn btn-info" %>
    </div>


  </div>

<% end %>


<script type="text/javascript">
  $(function(){
    $.getJSON("/tags",function(data){
      $(".keyword_tag1, .keyword_tag2, .keyword_tag3").tagit({
        availableTags : data
      });

      update_tag("keyword_tag1",data);
      update_tag("keyword_tag2",data);
      update_tag("keyword_tag3",data);


      });
    
  });
      function update_tag(class_name,data){
        $("."+class_name).bind('keypress',
            keypress.combo("enter",function(event){
              event.preventDefault();
              var current_tags = $("."+class_name).val().split(",");
              var last_elem = _.last(current_tags);
              if (_.indexOf(data,last_elem) == (-1)){
                  $.ajax({
                    url    : "/tags",
                    method : "POST",
                    data   : {tag : last_elem},
                    success: function(){
                      console.log(data);
                      data.push(last_elem);
                    },
                    error : function(status){
                      console.log(status);
                    }
                  });

              } 
        })

          );
    }


</script>