<%= render "header" %>

<h4>
  Game 1: Changing Majors, Changing Cities
</h4>

<h5>
  This Game is just to get you warmed up
</h5>

<div class="row-fluid">
  <%= form_for(@game, :url => "") do |f| %>
    <div class="span12">
      <legend>Educations</legend>
      <% @giver.educations.each do |edu| %>
        <%= render 'education', :education => edu %>
        <hr/>
      <% end %>

      <div class="control-group">
        <%= f.label :change_major, "During your college or university studies – did you ever change majors or consider a different field of study?", :class => "control-label" %>
        <div class="controls">
          <%= f.radio_button :change_major, 1, :class => "change-majors", :checked => @game.change_major ? true:false %>
  <%#= f.label :change_major, "Yes", :value => 1 %> Yes
          <%= f.radio_button :change_major, 0, :class => "change-majors", :checked => @game.change_major ? false:true %>
  <%#= f.label :change_major, "No", :value => 0  %> No
        </div>
      </div>

      <div class="control-group desc-changing-majors" style="display:none">
        <%= f.label :study_majors, "Please list all fields of study that you ever considered or studied – even shortly, before changing majors", :class => "control-label" %>
        <div class="controls">
          <%= f.text_area :study_majors, :size => "50x4" %>
        </div>
      </div>

    </div>

    <div class="span12">
      <legend>Locations</legend>
      <h5><%= @giver.current_location %></h5>
      <hr/>
      <div class="control-group">
        <%= f.label "another_location", "Have you lived or worked in another city during your professional or academic life?", :class => "control-label" %>
        <div class="controls">
          <%= f.radio_button :another_locations, 1, :class => "another-location", :checked => @game.another_locations ? true:false %> YES
          <%= f.radio_button :another_locations, 0, :class => "another-location", :checked => @game.another_locations ? false:true %> NO
        </div>
      </div>

      <div class="control-group localtion-list-field" style="display:none">
        <%= f.label :locations, "Please list all city, country or state, country combinations that apply", :class => "control-label" %>
        <div class="controls">
          <%= f.text_area :locations, :size => "50x4" %>
        </div>
      </div>

      <div class="form-actions">
        <legend>
          Pick a choice and save your results
        </legend>
        <%= f.submit "Return to Perspectives", :name => "return", :class => "btn btn-info" %> |
        <%= f.submit "Next Game", :name => "next", :class => "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>