<div>
<b class ="text-info">Sample: "The Good"</b><br/>
    <p class="muted">Digital Marketing offers fast paced and fun environments that will keep you on your toes. We work with content providers and publishers and spend most of our days either online or working with people. On some days, it's almost like we get paid to read-up on FB, Twitter or Instagram. On other days I work with big brands such asCoke, Starubucks or McDonalds - I really can't complain about the variety and exposure!</p>
</div>
<div id="share_story" >
  <%= form_tag "share_story" do %>
    <%= label_tag "share a good story" %>
    <%= text_area_tag "good_story" %>
    <br/>
    <%= label_tag "keyword:" %>
    <%= text_field_tag :keyword, nil,:name => "keyword[]" %>
    <br/>
    <%= label_tag "share a bad story" %>
    <%= text_area_tag "bad_story" %>
    <br/>
    <%= label_tag "keyword:" %>
    <%= text_field_tag :keyword, nil,:name => "keyword[]" %>
    <br/>
    <%= label_tag "share a ugly story" %>
    <%= text_area_tag "ugly_story" %>
    <br/>
    <%= label_tag "keyword:" %>
    <%= text_field_tag :keyword, nil,:name => "keyword[]" %>
    <br/>
    <%= check_box_tag "anonymous", true %>Anonymous
    <br/>
    <%= submit_tag "Submit", :class => 'btn btn-success' %>
  
  <% end %>
</div>