<%= render "shared/confirmation_notice" %>

<div class="well">
  <div class="container">
    <h3>
      Welcome <%= @iseeker.name %>
    </h3>
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item">
    Email : <%= @iseeker.email %>
  </li>
  <li class="list-group-item">
    Country : <%= @iseeker.country %>
  </li>
</ul>
<%= render 'shared/dashboard_popup' %>