<%=h content_for(:title, "| Profile") %>

<%= render "dashboard/navigation" %>

<%= render "shared/confirmation_notice" %>

<div class="gap gap-small"></div>

<div class="container">
  <div class="row">
    <div class="span3">
      <%= render "profile_side_nav" %>
    </div>
    <div class="span9">
      <i class="icon-linkedin icon-box round blue"></i>
      <%= link_to auth_at_provider_path(:provider => :linkedin) do %>
        <%= @user.linkedin_connected? ? "Refresh from LinkedIn" : "Log-on with LinkedIn" %>
      <% end %>

      <% unless @user.linkedin_connected? %>
        <p>
          Log-on with LinkedIn and complete 98% of this section in seconds.
        </p>
        <p>
          As the World's Largest Professional Network, iSeekiGive verifies your professional credibility using your
          LinkedIn profile details.
        </p>
      <% end %>

      <div class="gap gap-small"></div>

      <h3>Education</h3>
      <hr/>
      <% @educations.each do |education| %>
        <%= render education  %>
      <% end %>

      <div class="gap gap-small"></div>

      <%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
        <fieldset>
          <div class="control-group">
            <%= f.label :considered_fields, "Did you ever start or consider other majors or fields of study than the ones shown above?", :class => "control-label" %>
            <div class="controls span6">
              <%= f.text_area :considered_fields, :class => "span4", :rows => 4 %>
              <div class="field-notice">
                Many Seekers are looking for Perspectives based on their current and past interests.<br/>
                If you've changed your interests, sharing these details may provide inspiration for others trying to follow similar paths.
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="span2"></div>
            <div class="controls span6">
              <%= f.submit "SAVE", :class => "btn btn-primary" %>
            </div>
          </div>
        </fieldset>
      <% end %>

      <div class="gap"></div>

      <h3>Experience</h3>
      <hr/>
      <% @experiences.each do |experience| %>
        <%= render experience  %>
      <% end %>

    </div>
  </div>
</div>

<div class="gap"></div>