<div class="field_text">
  <h4><%= e.school_name %> <%= link_to 'edit', 'javascript:void(0)', :class => "btn btn-mini btn-primary field_edit" %></h4>
  <p><%= e.degree %>, <%= e.field_of_study %></p>
  <p><%= e.start_date.strftime("%Y") %> - <%= e.end_date.present? ? e.end_date.strftime("%Y") : "current" %></p>
</div>
<div class="field_form" style="display:none">
  <%= render 'common/education_form', :e => e %>
</div>