<%= form_for e, :remote => true, :html => {:class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :school_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :school_name, :class => 'text_field', :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :degree, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :degree, :class => 'text_field', :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :field_of_study, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :field_of_study, :class => 'text_field', :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, "Dates Attended", :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :start_date, {:start_year => Time.now.year - 50, :end_year => Time.now.year, :default => { :day => 01, :month => 01 },:discard_day => true, :discard_month => true}, {:class => 'date-select'} %> to
      <%= f.date_select :end_date, {:start_year => Time.now.year - 50, :end_year => Time.now.year + 50, :default => { :day => 01, :month => 01 },:discard_day => true, :discard_month => true}, {:class => 'date-select'} %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit "Done", :class => "btn btn-medium btn-primary" %>
      <%= link_to "Cancel", 'javascript:void(0)',:class => "btn btn-info cancel"  %>
    </div>
  </div>
<% end %>