<div class="field_text">
  <h4><%= e.title %> <%= link_to 'edit', 'javascript:void(0)', :class => "btn btn-mini btn-primary field_edit" %></h4>
  <p><%= e.company_name %></p>
  <p><%= e.start_date.strftime("%B %Y") %> - <%= e.end_date.present? ? e.end_date.strftime("%B %Y") : "current" %></p>
</div>
<div class="field_form" style="display:none">
  <%= render 'common/experience_form', :e => e %>
</div>