<h1><%=h content_for(:title, "How it Works") %></h1>
<div class="gap"></div>


<div class="container dashboard-container">
  <div class="row row-wrap">
    <div class=" span3 how_it_box">
      <p class="lplh-22">
        <strong>
          <span>Perspectives</span>
        </strong>
      </p>

      <div id="lp-pom-box-344" class="lp-element lp-pom-box">
        <%= image_tag("perspective-users-icon-48.png", :class => 'lp-img-circle') %>
      </div>
      <p class="lplh-20" >
        <span>Givers share their Perspectives - The Good, The Bad & The Ugly.</span>
      </p>

      <p class="lplh-20" >
        <span>Seekers explore areas of interest and learn from Giver's personal experiences.</span>
      </p>
    </div>

    <div class="span3 how_it_box">
      <p class="lplh-22">
        <strong>
          <span>Sessions</span>
        </strong>
      </p>

      <div class="lp-element lp-pom-box">
        <%= image_tag("perspective-iphone-icon-48.png", :class => 'lp-img-circle') %>
      </div>
      <p class="lplh-20" >
        <span>Givers opt to share time with Seekers to answer specific questions.</span>
      </p>


      <p class="lplh-20" >
        <span>Seekers pay to receive live direct advice and suggestions from relevant Givers.</span>
      </p>

    </div>

    <div class="gap"></div>

    <div class="span3 how_it_box">
      <p class="lplh-22">
        <strong>
          <span>Rewards</span>
        </strong>
      </p>

      <div class="lp-element lp-pom-box">
        <%= image_tag("perspective-shopping-bag-dollar-icon-48.png", :class => 'lp-img-circle') %>
      </div>
      <p class="lplh-20" >
        <span>Everyone has a story to share.</span>
      </p>


      <p class="lplh-20" >
        <span>Share Perspectives and hold Sessions to  earn rewards, cash prizes or donations for charitable causes.</span>
      </p>
    </div>

    <div class="span3 how_it_box">
      <p class="lplh-22">
        <strong>
          <span>Boosters</span>
        </strong>
      </p>

      <div class="lp-element lp-pom-box">
        <%= image_tag("perspective-cert-icon-48.png", :class => 'lp-img-circle') %>
      </div>
      <p class="lplh-20" >
        <span>Care about a cause? </span>
      </p>


      <p class="lplh-20" >
        <span>Start a campaign and invite others to support and raise proceeds in a new way - by sharing their time and perspectives.</span>
      </p>
    </div>
  </div>
</div>



<div class="gap"></div>
<div class="gap"></div>