<%= render "banner" %>

<div class="gap"></div>

<%= render "home_stories_innner_full" %>

<div class="gap"></div>
<hr/>

<%= render "home_people_love_section" %>

<div class="gap"></div>
<hr/>

<%= render "home_people_are_saying" %>

<div class="gap"></div>

<div class="bg-gray">
  <div class="container">
    <div class="gap">
      <div class="row">
        <div class="span12 center">
          <%= link_to "GET STARTED NOW", logged_in? ? "javascript:;" : signup_path, :class => "btn btn-primary-inverse btn-mega" %>
        </div>
      </div>
    </div>
  </div>
</div>