<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "iSeekiGive" %></title>

    <%= csrf_meta_tags %>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'/>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- IE 8 Fallback -->
    <!--[if lt IE 9]>
    <%= stylesheet_link_tag "new-wave/ie8", :media => "all" %>
    <![endif]-->

    <%= javascript_include_tag "application" %>
  </head>
  <body class="width1200">
    <div class="container-global">
      <%= render "shared/header" %>

      <%= bootstrap_flash %>

      <%= yield %>

      <%= render "shared/footer" %>
    </div>

    <%= javascript_include_tag "bottom" %>

  </body>
</html>
